<h2> Reviews of <i><%= @wine.name %></i></h2>

<%= link_to "Add New Review", new_wine_review_path(@wine) %> 

<% @wine.reviews.each do |review| %>
    <h3><%= review.wine.name %></h3>
    <p><%= review.review %></p>
<% end %>

